:root {
  --font-body: var(--font-sans);

  // colors
  --black: #000000;
  --white: #fff;
  --gray: #15141A;
  --primary-color: #EF144C;
  --secondary-color: #5622ED;

  // base colors

  // --text-primary: var(--primary-color);
  // --background-primary: var(--white);
}
